* {
  margin: 0%;
  padding: 0%;
  font-family: Roboto, Arial, sans-serif;
}

body {
  background-color: hsl(235, 18%, 26%);
  color: hsl(234, 29%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: 100vh;
  overflow-x: auto;
  background-color: white;
  color: hsl(234, 29%, 20%);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  padding: 1rem 0;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 1rem;
}

span {
  margin: .5rem 1rem;
}

.list {
  display: flex;
  flex-direction: row;
  padding: .5rem 2.8rem .5rem 1rem;
}

svg {
  padding-right: 1rem;
}

.email-container {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
  margin: 1rem 0;
}

label {
  margin: 0 1rem;
  font-size: .8rem;
}

input,button {
  margin: .7rem 1rem;
  padding: 1rem;
  flex: 1;
}

input {
  border-radius: 5px;
  border: 1px solid hsl(231, 7%, 60%, 0.5);
  outline: none;
}

input:focus {
  border: 1px solid red;
}

input::placeholder {
  font-size: 1rem;
}

button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: hsl(234, 29%, 20%);
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}
